<h1>{{ title }}</h1>
<!-- PRACTICE 3 -->
<h1>Example 3: List of Numbers</h1>
<app-numlist></app-numlist>
<!-- obtain pics from app Component (root)-->
<!-- assign pics to numImages attribute with @Input() at numlist component -->
<app-numlist [numImages]="pics"></app-numlist>

<br><br><br><br><br><br>
<!-- PRACTICE 2 -->
<h2>Example 2: practice passing values between components</h2>
<app-count></app-count>
<!-- Requires @Input() in count ts to set startNum attribute -->
<app-count [startNum]=3 (valueChange)="newValue($event)"></app-count>

<br><br><br><br><br><br>
<!-- PRACTICE 1 -->
<h2>Example 1: Insert values within component html</h2>
<!-- child component can access parent values (title) -->
<app-hello message="Example 1: {{ title }}"></app-hello>
<app-hello [message]="'Example 2: ' + title"></app-hello>
<!-- default value injection from component -->
<app-hello></app-hello>
<app-hello message="MANUALLY set value with hello component's attribute"></app-hello>

<div>
  Text: 
  <!-- disabled takes value from ts file -->
  <input type="text" [placeholder]="title" [disabled]="disabled">
  <!-- button linked to method in ts file to toggle disabled (Boolean) -->
  <button type="button" (click)="toggleInput()"> Toggle Input Box </button>
</div>